<div class="ui vertical fluid inverted menu main-nav ">
  <a class="active item">
    Bio
  </a>
  <a class="item">
    Pics
  </a>
  <a class="item">
    Companies
  </a>
  <a class="item">
    Links
  </a>
  <div class="ui left pointing dropdown link item">
    <i class="dropdown icon"></i>
    Messages
    <div class="menu">
      <div class="item">Inbox</div>
      <div class="item">Starred</div>
      <div class="item">Sent Mail</div>
      <div class="item">Drafts (143)</div>
      <div class="divider"></div>
      <div class="item">Spam (1009)</div>
      <div class="item">Trash</div>
    </div>
  </div>
</div>
